---
name: AME Header
order: 1
---
<header class="c-header">
  <div class="c-header__container o-width-limiter">
    <div class="o-grid g-items-center">
      <div class="c-header__intro o-grid__full o-grid__third@md">
        <a href="/"><img src="/images/a-modern-eden.svg" alt="A Modern Eden logo" /></a>
        <button id="navMenu" href="#" class="c-btn c-btn--primary c-header__menu-btn" aria-expanded="true">Menu</button>
      </div>
      {{> patterns.components.header.nav }}
    </div>
  </div>
</header>