---
name: AME Header
order: 1
---
<header class="c-header">
  <div class="o-width-limiter">
    <div class="o-grid g-items-center">
      <div class="c-header__intro o-grid__full o-grid__third@md">
        <img src="/images/a-modern-eden.svg" alt="A Modern Eden logo" />
        <button href="#" class="c-btn c-btn--primary hide-menu-btn">Menu</button>
      </div>
      {{> patterns.components.header.nav }}
    </div>
  </div>
</header>