---
name: Navigation
order: 2
---

<nav class="c-header__nav o-grid__full o-grid__two-third@md">
  <ul class="c-header__list" aria-hidden="false">
    <li class="c-header__item c-header__item--discover">
      <div class="c-header__animal c-header__animal--bear"></div>
        <a class="c-header__link" href="#discover">Discover products &amp; apps</a>
    </li>
    <li class="c-header__item c-header__item--about">
      <div class="c-header__animal c-header__animal--cow"></div>
      <a class="c-header__link" href="#about">About AME</a>
    </li>
    <li class="c-header__item c-header__item--sell">
      <div class="c-header__animal c-header__animal--dolphin"></div>
      <a class="c-header__link" href="#sell">Sell prodcuts</a>
    </li>
  </ul>
</nav>