---
name: Navigation
order: 2
---

<nav class="c-header__nav o-grid__full o-grid__two-third@md">
  <ul class="c-header__list">
    <li class="c-header__item"><a class="c-header__link" href="#">Discover products &amp; apps</a></li>
    <li class="c-header__item"><a class="c-header__link" href="#">About AME</a></li>
    <li class="c-header__item"><a class="c-header__link" href="#">Sell prodcuts</a></li>
  </ul>
</nav>