---
name: Navigation
order: 2
---

<nav class="c-header__nav o-grid__full o-grid__two-third@md">
  <ul class="c-header__list" aria-hidden="false">
    <li class="c-header__item c-header__item--discover">
      <a href="#discover" class="c-header__anchor">
        <div class="c-header__animal c-header__animal--bear"></div>
        <p class="c-header__text c-header__text--discover">Discover products &amp; apps</p>
      </a>
    </li>
    <li class="c-header__item c-header__item--about">
      <a href="#about" class="c-header__anchor">
        <div class="c-header__animal c-header__animal--cow"></div>
        <p class="c-header__text c-header__text--about">About AME</p>
      </a>
    </li>
    <li class="c-header__item c-header__item--sell">
      <a href="#sell" class="c-header__anchor">
        <div class="c-header__animal c-header__animal--elephant"></div>
        <p class="c-header__text c-header__text--sell">Sell products</p>
      </a>
    </li>
  </ul>
</nav>