.c-about {
  background-color: $c-pretty-in-pink;

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 10rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.875rem;
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__copy {
    @include default-paragraph;
    font-size: 1.25rem;
    line-height: 1.375;
    color: $c-charcoal;
    margin-right: 0;

    @media (min-width: $bp-sm) {
      font-size: 1.5rem;
      line-height: 1.375;
    }

    @media (min-width: $bp-md) {
      margin-right: 7rem;
    }

    @media (min-width: $bp-lg) {
      margin-right: space(xl);
    }
  }

  &__ame-grouping {
    margin-bottom: 5.25rem;

    @media (min-width: $bp-sm) {
      margin-bottom: 10rem;
    }

    @media (min-width: $bp-md) {
      margin-bottom: 8rem;
    }

    @media (min-width: $bp-lg) {
      margin: 4rem 0 0 2rem;
      margin-bottom: unset;
      justify-self: center;
    }

    @media (min-width: 70rem) { // 70rem // inbetween lg and xl
      justify-self: end;
      margin-left: 0;
    }

    @media (min-width: $bp-xl) {
      margin: 0;
      justify-self: unset;
    }
  }

  &__caption {
    max-width: 15.625rem;

    @media (min-width: $bp-sm) {
      margin: space(md) 0 0 space(xl);
    }

    @media (min-width: $bp-md) {
      margin: 2rem 0 0 space(xxl);
    }

    @media (min-width: $bp-lg) {
      margin: 0 0 0 0;
    }

    @media (min-width: $bp-xl) {
      margin: -1rem 0 0 4.5rem;
    }
  }

  &__alphabet-letter {
    @include alphabet-letter($c-piggy-pink);
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 140px;

    @media (min-width: $bp-sm) {
      right: 225px;
    }

    @media (min-width: $bp-md) {
      right: 275px;
    }

    @media (min-width: $bp-lg) {
      right: 325px;
    }

    @media (min-width: $bp-xl) {
      right: 225px;
    }
  }

  &__animal {
    position: absolute;
    right: 0;
    bottom: -9px;

    @media (min-width: $bp-sm) {
      right: 0;
    }

    @media (min-width: $bp-md) {
      right: 50px;
    }

    @media (min-width: $bp-lg) {
      right: 100px;
    }

    @media (min-width: $bp-xl) {
      right: 0;
    }
  }
}
