.c-apps {
  background-color: lighten($c-charcoal, 67);

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 7.1875rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__copy {
    // add styles if needed, delete if not
  }

  &__image {
    &--iphone {
      //
    }

    &--ipad {
      //
    }
  }
}
