.c-apps {
  background-color: lighten($c-charcoal, 67);

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 5rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
      padding-bottom: 7.1875rem;
    }
  }

  &__app-wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-md) {
      flex-direction: row;
    }

    &:first-of-type {
      margin-bottom: space(xl);

      @media (min-width: $bp-sm) {
        flex-direction: row;
      }

      @media (min-width: $bp-lg) {
        margin-right: 4.75rem;
      }
    }

    &:last-of-type {
      @media (min-width: $bp-lg) {
        flex-direction: column;
      }

      @media (min-width: $bp-xl) {
        flex-direction: row;
      }
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__copy {
    @include default-paragraph;

    @media (min-width: $bp-md) {
      width: 80%;
    }

    @media (min-width: $bp-lg) {
      width: 100%;
    }
  }

  &__speak-piggy-copy-block {
    margin-bottom: space(lg);

    @media (min-width: $bp-sm) {
      margin-bottom: space(xl);
    }
  }

  &__image {
    margin-bottom: space(lg);
    align-self: center;

    @media (min-width: $bp-sm) {
      align-self: flex-start;
    }

    &--iphone {
      @media (min-width: $bp-sm) {
        margin-right: space(lg);
      }

      @media (min-width: $bp-md) {
        margin-right: space(xl);
      }
    }

    &--ipad {
      @media (min-width: $bp-md) {
        margin-right: space(xl);
      }

      @media (min-width: $bp-lg) {
        margin-right: 0;
        margin-bottom: space(xl);
      }

      @media (min-width: $bp-xl) {
        margin-right: space(xl);
      }
    }
  }
}
