.c-seen {
  background-color: $c-froggy-yellowgreen;

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 4rem;

    @media (min-width: $bp-md) {
      padding-top: 2rem;
    }

    @media (min-width: $bp-lg) {
      padding-top: 3.75rem;
      padding-bottom: 6.1875rem;
    }
  }

  &__title {
    @include h2;
    flex-basis: 100%;
  }

  &__in {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $bp-sm) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: $bp-md) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .c-seen__logo {
      &:first-child { // scholastic --> 354px (will need to fix new image on dif branch)
        width: 100%;
        text-align: center;
        margin: 1rem 0 -0.5rem 0;

        @media (min-width: $bp-md) {
          width: auto;
          text-align: unset;
          margin: 0;
        }
      }

      &:nth-child(2n) { // nyt
        margin: 2rem 0;

        @media (min-width: $bp-sm) {
          margin: 2rem 0 0 0;
        }

        @media (min-width: $bp-md) {
          margin: 0;
        }

        img {
          padding: 0 1rem;
        }
      }

      &:last-child { // how
        @media (min-width: $bp-sm) {
          margin: 2rem 0 0 0;
        }

        @media (min-width: $bp-md) {
          margin: 0;
        }
      }

      @media (min-width: $bp-md) {
        margin: 0;
      }
    }
  }
}
