.c-btn {
  // Reset default <button> styles
  @include unbuttonize;

  // Reset default <a> styles
  font-size: 1rem;
  border-radius: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.625px;
  display: inline-block;
  padding: 0.5rem 1rem;
  line-height: $line-height-tight;
  // transition: all 0.5s $ease-out-expo; // TODO: fix!!
  cursor: pointer;

  &--primary {
    color: white;
    background-color: $c-btn-primary;

    &:focus,
    &:hover {
      // transform: scale(1.075); // TODO: fix!!! type is blurry on scale - do something else
    }
  }
}
