.c-calendar {
  position: relative;
  background-color: $c-ocean;

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 4rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h3;
  }

  &__list {
    margin-bottom: 1.25rem;
    line-height: 1.6;

    @media (min-width: $bp-xs) {
      margin-right: 1.25rem;
    }
  }

  &__event {
    @include font-stack-primary($weight: 700);
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0 0 3px 0;
  }

  &__date,
  &__street,
  &__citystate,
  &__location,
  &__booth,
  &__website {
    margin: 0;
  }

  &__location {
    display: inline-block;

    + span {
      display: inline-block;

      + .c-calendar__booth {
        display: inline-block;
      }
    }
  }

  &__ame-grouping {
    //
  }

  &__caption {
    width: 35%;
    padding-top: 10rem;
    margin-left: -2rem;
  }

  &__animal {
    position: absolute;
    bottom: -10px;
    right: 9rem;
    z-index: $z-index-1;
  }

  &__alphabet-letter {
    @include alphabet-letter($c-soft-grey);
    position: absolute;
    bottom: -6px;
    right: 0;
  }
}

.c-ocean {
  overflow: hidden;

  &__wave {
    height: 4rem;
    width: calc(100% + 10rem);
    background: repeat-x url(/images/ocean-wave.svg);
    animation: wave 5s infinite ease-in-out;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(0);
  }
}
