.c-calendar {
  position: relative;
  background-color: $c-ocean;

  // @media (min-width: $bp-sm) {
  //   background-color: lightgoldenrodyellow;
  // }

  // @media (min-width: $bp-unstack-nav) {
  //   background-color: lightsalmon;
  // }

  // @media (min-width: $bp-md) {
  //   background-color: lightgrey;
  // }

  @media (min-width: $bp-lg) {
    background-color: lightpink;
  }

  @media (min-width: $bp-xl) {
    background-color: lightskyblue;
  }

  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 4rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h3;
  }

  &__list {
    margin-bottom: 1.25rem;
    line-height: 1.6;

    @media (min-width: $bp-xs) {
      margin-right: 1.25rem;
    }

    @media (min-width: $bp-unstack-nav) {
      margin-right: 5.5rem;
    }

    @media (min-width: $bp-lg) {
      margin-right: 1.25rem;
    }
  }

  &__events {
    @media (min-width: $bp-sm) {
      display: flex;
      flex-direction: row;
    }

    @media (min-width: $bp-md) {
      flex-direction: column;
    }

    @media (min-width: $bp-lg) {
      flex-direction: row;
    }
  }

  &__event {
    @include font-stack-primary($weight: 700);
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0 0 3px 0;
  }

  &__date,
  &__street,
  &__citystate,
  &__location,
  &__booth,
  &__website {
    margin: 0;
  }

  &__location {
    display: inline-block;

    + span {
      display: inline-block;

      + .c-calendar__booth {
        display: inline-block;
      }
    }
  }

  &__ame-grouping {
    //
  }

  &__caption {
    padding-top: 1.5rem;
    padding-bottom: 11.5rem;

    @media (min-width: $bp-sm) {
      padding-bottom: 20rem;
    }

    @media (min-width: $bp-md) {
      padding-top: 0;
    }

    @media (min-width: $bp-lg) {
      // TODO: adding a comment to verify my git commits
    }

    @media (min-width: $bp-xl) {
      width: 35%;
      padding-top: 10rem;
      margin-left: -2rem;
    }
  }

  &__animal {
    position: absolute;
    bottom: -10px;
    right: 7rem;
    z-index: $z-index-1;

    @media (min-width: $bp-sm) {
      right: 9rem;
    }
  }

  &__alphabet-letter {
    @include alphabet-letter($c-soft-grey);
    position: absolute;
    bottom: -6px;
    right: 0;
  }
}

.c-ocean {
  overflow: hidden;
  margin-bottom: -1rem;

  &__wave {
    height: 4rem;
    width: calc(100% + 10rem);
    background: repeat-x center / contain url(/images/ocean-wave.svg);
    animation: wave 5s infinite ease-in-out;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(0);
  }
}
