$c-facebook-blue: #4267B2;
$c-twitter-blue: #1DA1F2;
$c-instagram-gradient: linear-gradient(to right top, #fcac0f, #fd9522, #f36a3c, #d42d65, #d12174, #ca1b85);

.c-footer {
  background-color: $c-monkey-brown;

  &__copy {
    color: $c-white;
    margin: 0;
  }

  &__link {
    color: $c-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    place-self: center;
    line-height: 1;
  }

  &__contact {
    text-align: center;
    z-index: $z-index-footer-social-icons;

    @media (min-width: $bp-md) {
      text-align: right;
    }
  }

  &__legal {
    text-align: center;

    @media (min-width: $bp-md) {
      text-align: left;
    }
  }

  &__love {
    color: $c-piggy-pink;
    padding: 0 0.25rem;
  }

  &__icon-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 0.75rem;
    height: 1.8125rem;
    width: 1.8125rem;
    border-radius: 50%;
    fill: $c-white;
    background: transparent;
    transition: all 150ms ease-in;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-3px);
    }

    &--facebook {
      &:hover {
        background-color: $c-facebook-blue;
        border-radius: 50%;
      }
    }

    &--twitter {
      &:hover {
        background-color: $c-twitter-blue;
        border-radius: 50%;
      }
    }

    &--instagram {
      &:hover {
        background-image: $c-instagram-gradient;
        border-radius: 50%;
      }
    }
  }
}
