.c-header {
  line-height: 1;

  &__container {
    padding: 0;

    @media (min-width: $bp-unstack-nav) {
      padding: 0 1.75rem;
      height: auto !important;
    }
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c-white;
    padding: 1.75rem;
    height: 12.25vh;

    @media (min-width: $bp-xs) {
      height: 14.25vh;
    }

    & img {
      width: 55%;
    }

    // remove link styles from logo
    a:not([class]) {
      border-bottom: none;

      &:hover,
      &:focus {
        background-image: none;
        background-position-y: -100%;
      }
    }

    @media (min-width: $bp-sm) {
      & img {
        width: 60%;
      }
    }

    @media (min-width: $bp-unstack-nav) {
      position: relative;
      justify-content: center;
      height: auto;

      & img {
        width: 75%;
      }
    }

    @media (min-width: $bp-md) {
      padding: 1.375rem 0;

      & img {
        width: 100%;
      }
    }
  }

  &__nav {
    position: absolute;
    height: 87.75vh;
    top: 12.25vh;

    @media (min-width: $bp-xs) {
      height: 85.75vh;
      top: 14.25vh;
    }

    @media (min-width: $bp-unstack-nav) {
      position: relative;
      height: auto !important;
      text-align: center;
      padding-bottom: 0.5rem;
      transition: unset;
      top: 0;
    }

    @media (min-width: $bp-md) {
      text-align: right;
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;

    &[aria-hidden="true"] {
      overflow-x: hidden;

      @media (min-width: $bp-unstack-nav) {
        overflow-x: auto;
      }

      & .c-header__item--discover,
      & .c-header__item--about,
      & .c-header__item--sell {
        left: 100vw;
      }
    }

    @media (min-width: $bp-unstack-nav) {
      flex-direction: row;
      margin: 1rem 0;
      height: auto;
    }

    @media (min-width: $bp-md) {
      justify-content: flex-end;
      padding-left: 1rem;
    }
  }

  &__anchor {
    display: flex;
    width: 100%;
    text-decoration: none;
    position: relative;

    &:hover,
    &:active {
      .c-header__animal--bear,
      .c-header__animal--cow,
      .c-header__animal--dolphin {
        transform: translateX(-3px);
      }
    }
  }

  &__item {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 28.5vh; // 3 items * 28.5 = ~85.75

    @media (min-width: $bp-unstack-nav) {
      padding-right: 5vw;
      padding-bottom: 0;
      width: auto;
      height: auto;
      position: relative;
      transition: transform 150ms ease-in;
    }

    @media (min-width: $bp-md) {
      padding-right: 3vw;
    }

    @media (min-width: $bp-lg) {
      padding-right: 4.5vw;
    }

    @media (min-width: $bp-xl) {
      padding-right: 6vw;
    }

    &:hover {
      @media (min-width: $bp-unstack-nav) {
        transform: translateY(2px);
      }

      @media (min-width: $bp-md) {
        transform: translateY(3px);
      }
    }

    &:last-of-type {
      @media (min-width: $bp-unstack-nav) {
        padding: 0;
      }
    }

    &--discover {
      background-color: $c-soft-grey;
      top: 0;
      left: 0;
      height: 25vh;

      &.discover-show {
        animation-duration: 400ms;
        animation-timing-function: ease;
        animation-name: showNavItem;
      }

      &.discover-hide {
        animation-duration: 1200ms;
        animation-fill-mode: forwards;
        animation-name: hideNavItem;
      }

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
        height: auto;
      }
    }

    &--about {
      background-color: $c-pretty-in-pink;
      left: 0;
      height: 25vh;
      top: 25vh;

      &.about-show {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: showNavItem;
      }

      &.about-hide {
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        animation-name: hideNavItem;
      }

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
        height: auto;
        top: 0;
      }
    }

    &--sell {
      background-color: $c-white;
      bottom: 0;
      left: 0;
      height: 37.75vh;

      @media (min-width: $bp-xs) {
        height: 35.75vh;
      }

      &.sell-show {
        animation-duration: 1200ms;
        animation-timing-function: ease;
        animation-name: showNavItem;
      }

      &.sell-hide {
        animation-duration: 400ms;
        animation-fill-mode: forwards;
        animation-name: hideNavItem;
      }

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
        height: auto;
      }
    }
  }

  &__text {
    @include font-stack-primary($weight: 700);
    align-self: center;
    color: $c-charcoal;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    padding: 0 3.5rem 0 0.75rem;
    margin: auto;
    line-height: 1.25;
    left: 50%;
    width: 50%;

    &--discover.discover-text-show {
      animation-duration: 600ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-name: showText;
    }

    &--discover.discover-text-hide {
      animation-duration: 1200ms;
      animation-name: hideText;
    }

    &--about.about-text-show {
      right: 0;
      animation-duration: 900ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-name: showText;
    }

    &--about.about-text-hide {
      animation-duration: 900ms;
      animation-name: hideText;
    }

    &--sell {
      padding-bottom: 12.75vh; // make room for ocean waves
      z-index: 100;

      @media (min-width: $bp-xs) {
        padding-bottom: 10.75vh;
      }
    }

    &--sell.sell-text-show {
      right: 0;
      animation-duration: 1200ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-name: showText;
    }

    &--sell.sell-text-hide {
      animation-duration: 600ms;
      animation-name: hideText;
    }

    @media (min-width: $bp-unstack-nav) {
      flex-basis: 100%;
      font-size: 1rem;
      padding: 0;
      position: relative;
      left: 0;

      // let's add a nice transition to the arrow icon
      &::before {
        content: '';
        color: $c-white;
        opacity: 0;
        transition: opacity 300ms ease-in;
      }

      &:hover {
        &::before {
          content: '\276F';
          color: $c-froggy-yellowgreen;
          opacity: 1;
          transform: rotate(90deg) scale(1.25);
          position: absolute;
          top: 85%;
          right: 50%;
        }
      }
    }

    @media (min-width: $bp-lg) {
      font-size: 1.125rem;
    }
  }

  &__menu-btn {
    max-height: 2.25rem;
    margin-left: 1rem;

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }

  &__animal {
    flex-basis: 50%;
    transform: translateX(0);
    transition: transform 250ms ease;

    &--bear {
      background: no-repeat top 30% right -15% / 155%;
      background-image: url(/images/bear.png);

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 220dpi) {
        background-image: url(/images/bear2x.png);
      }
    }

    &--cow {
      background: no-repeat top 4% right 38% / 120%;
      background-image: url(/images/cow.png);

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 220dpi) {
        background-image: url(/images/cow2x.png);
      }
    }

    &--dolphin {
      background: no-repeat top -15% right -18% / 133%;
      background-image: url(/images/dolphin.png);

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 220dpi) {
        background-image: url(/images/dolphin2x.png);
      }
    }

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }

  &__ocean-block {
    background: repeat-x 100%/70% url(/images/ocean.png);
    height: 32vh;
    width: 100vw;
    position: absolute;
    // ocean wave at device widths
    bottom: -5.75vh;

    // ocean wave at smallest browser width
    @media (min-width: $bp-xs) {
      bottom: -10.75vh;
    }

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }
}

@keyframes showNavItem {
  from {
    left: 100vw;
  }

  to {
    left: 0;
  }
}

@keyframes showText {
  from {
    left: 100%;
  }

  to {
    left: 50%;
  }
}

@keyframes hideNavItem {
  0% {
    left: 0;
  }

  100% {
    left: 100vw;
  }
}

@keyframes hideText {
  0% {
    left: 50%;
  }

  100% {
    left: 100vw;
  }
}

// These nav classes are applied to the body
.mobile-nav-closed {
  overflow-x: hidden;
}

.mobile-nav-open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;

  @media (min-width: $bp-unstack-nav) {
    position: relative; // unset for desktop screen size
  }
}
