.c-header {
  line-height: 1;

  &__container {

    @media (min-width: $bp-unstack-nav) {
      height: auto !important;
    }

    &.hide-container {
      //
    }

    &.expand-container {
      height: 100vh;
    }
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 0;
    height: 14.25vh;

    @media (min-width: $bp-sm) {
      & img {
        width: 60%;
      }
    }

    @media (min-width: $bp-unstack-nav) {
      justify-content: center;
      height: auto; // reset!

      & img {
        width: 75%;
      }
    }

    @media (min-width: $bp-md) {
      padding: 1.375rem 0;

      & img {
        width: 100%;
      }
    }
  }

  &__nav {

    @media (min-width: $bp-unstack-nav) {
      height: auto !important; // reset!
      text-align: center;
      padding-bottom: 0.5rem;
    }

    @media (min-width: $bp-md) {
      text-align: right;
      padding-bottom: 0;
    }

    &.hide-nav {
      //
    }

    &.expand-nav {
      height: 85.75vh;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;

    @media (min-width: $bp-unstack-nav) {
      flex-direction: row;
      margin: 1rem 0;
      height: auto; // reset!
    }

    @media (min-width: $bp-md) {
      justify-content: flex-end;
      padding-left: 1rem;
    }

    &[aria-hidden="true"] { // hide the nav list
      display: none;
    }
  }

  &__item {
    display: flex;
    transition: transform 150ms ease-in;
    position: relative;
    width: 100vw;
    height: 33.333%;

    &:hover {
      @media (min-width: $bp-unstack-nav) {
        transform: translateY(2px);
      }

      @media (min-width: $bp-md) {
        transform: translateY(3px);
      }
    }

    @media (min-width: $bp-unstack-nav) {
      padding-right: 5vw;
      padding-bottom: 0;
      width: auto;
      height: auto; // reset!
    }

    @media (min-width: $bp-md) {
      padding-right: 3vw;
    }

    @media (min-width: $bp-lg) {
      padding-right: 4.5vw;
    }

    @media (min-width: $bp-xl) {
      padding-right: 6vw;
    }

    &:last-of-type {
      @media (min-width: $bp-unstack-nav) {
        padding: 0;
      }
    }

    &--discover {
      background-color: $c-soft-grey;

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
      }
    }

    &--about {
      background-color: $c-pretty-in-pink;

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
      }
    }

    &--sell {
      background-color: $c-ocean;

      @media (min-width: $bp-unstack-nav) {
        background-color: transparent;
      }
    }
  }

  &__link {
    @include font-stack-primary($weight: 700);
    flex-basis: 50%;
    align-self: center;
    color: $c-charcoal;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 0 3.5rem 0 0.5rem;
    line-height: 1.25;

    @media (min-width: $bp-unstack-nav) {
      flex-basis: 100%;
      font-size: 1rem;
      padding: 0;

      // let's add a nice transition to the arrow icon
      &::before {
        content: '';
        color: $c-white;
        opacity: 0;
        transition: opacity 300ms ease-in;
      }

      &:hover {
        &::before {
          content: '\276F';
          color: $c-froggy-yellowgreen;
          opacity: 1;
          transform: rotate(90deg) scale(1.25);
          position: absolute;
          top: 85%;
          right: 50%;
        }
      }
    }

    @media (min-width: $bp-lg) {
      font-size: 1.125rem;
    }
  }

  &__menu-btn {
    max-height: 2.25rem;
    margin-left: 1rem;

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }

  &__animal {
    flex-basis: 50%;

    &--bear {
      background: no-repeat top 30% right -15% / 155% url(/images/bear.svg);
    }

    &--cow {
      background: no-repeat top 34% right 34% / 190% url(/images/cow.svg);
    }

    &--elephant {
      background: no-repeat top 45% right 27% / 197% url(/images/elephant.svg);
    }

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }
}
