.c-header {
  line-height: 1;

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 0;

    @media (min-width: $bp-sm) {
      & img {
        width: 60%;
      }
    }

    @media (min-width: $bp-unstack-nav) {
      justify-content: center;

      & img {
        width: 75%;
      }
    }

    @media (min-width: $bp-md) {
      padding: 1.375rem 0;

      & img {
        width: 100%;
      }
    }
  }

  &__nav {
    text-align: center;
    padding-bottom: 0.5rem;

    @media (min-width: $bp-md) {
      text-align: right;
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;

    @media (min-width: $bp-unstack-nav) {
      flex-direction: row;
    }

    @media (min-width: $bp-md) {
      justify-content: flex-end;
      padding-left: 1rem;
    }

    &[aria-hidden="true"] { // hide the nav list
      display: none;
    }
  }

  &__item {
    text-align: center;
    padding-bottom: 3rem;
    transition: transform 150ms ease-in;
    position: relative;

    &:hover {
      transform: translateY(2px);

      @media (min-width: $bp-md) {
        transform: translateY(3px);
      }
    }

    @media (min-width: $bp-unstack-nav) {
      padding-right: 5vw;
      padding-bottom: 0;
    }

    @media (min-width: $bp-md) {
      padding-right: 3vw;
    }

    @media (min-width: $bp-lg) {
      padding-right: 4.5vw;
    }

    @media (min-width: $bp-xl) {
      padding-right: 6vw;
    }

    &:last-of-type {
      padding-right: 0;
      padding-bottom: 2rem;

      @media (min-width: $bp-unstack-nav) {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    @include font-stack-primary($weight: 700);
    color: $c-charcoal;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      color: $c-white;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }

    &:hover {
      &::before {
        content: '\276F';
        color: $c-froggy-yellowgreen;
        opacity: 1;
        transform: rotate(90deg) scale(1.25);
        position: absolute;
        top: 85%;
        right: 50%;
      }
    }

    @media (min-width: $bp-lg) {
      font-size: 1.125rem;
    }
  }

  &__menu-btn {
    max-height: 2.25rem;
    margin-left: 1rem;

    @media (min-width: $bp-unstack-nav) {
      display: none;
    }
  }
}
