.c-hero {
  background-color: lighten($c-raspberry, 12);
  background-image: linear-gradient(180deg, lighten($c-raspberry, 12) 0 65%, $c-grass-green 35% 100%);

  height: 87.75vh;

  @media (min-width: $bp-xs) {
    // background: lightgreen;
    background-image: linear-gradient(180deg, lighten($c-raspberry, 12) 0 72%, $c-grass-green 28% 100%);
    height: 85.75vh;
  }

  @media (min-width: $bp-sm) {
    background: lightseagreen;
  }

  @media (min-width: $bp-unstack-nav) {
    height: 72vh;
    background-color: mediumvioletred;
  }

  @media (min-width: $bp-md) {
    background: lightsalmon;
    height: 83.5vh;
  }

  @media (min-width: $bp-lg) {
    background: lightpink;
  }

  @media (min-width: $bp-xl) {
    background: linear-gradient(180deg, lighten($c-raspberry, 12) 0 62%, $c-grass-green 38% 100%);
  }

  &__container {
    height: 100%;
  }

  &__art {
    position: relative;
    order: 2;

    @media (min-width: $bp-md) {
      order: unset;
    }
  }

  &__heading {
    position: relative;
    order: 1;
    height: 50%;

    @media (min-width: $bp-md) {
      order: unset;
      height: unset;
    }
  }

  &__title {
    line-height: 1.1;
    margin: 0;
    @include font-stack-primary($weight: 900);
    font-size: 2.15rem;
    text-transform: uppercase;
    color: $c-dolphin-blue;

    @media (min-width: $bp-md) {
      font-size: 3.45rem;
      margin: 1.5rem 0 0.375rem;
    }
  }

  &__tagline {
    @include h3;
    font-size: 1.1rem;
    @include font-stack-decorative;
    line-height: 1.5;
    width: 80%;

    @media (min-width: $bp-md) {
      margin-bottom: 3rem;
      font-size: 1.75rem;
      width: auto;
    }
  }

  &__copy {
    //
  }

  &__cloud {
    position: absolute;

    &--1 {
      top: -13rem;
      right: 3rem;

      @media (min-width: $bp-xl) {
        top: 2rem;
        left: -4rem;
        right: unset;
      }
    }

    &--2 {
      top: -14.6rem;
      right: -3.6rem;

      @media (min-width: $bp-xl) {
        top: -4.25rem;
        left: 22rem;
      }
    }

    &--3 {
      display: none;

      @media (min-width: $bp-sm) {
        display: unset;
      }

      @media (min-width: $bp-xl) {
        top: 6rem;
        left: 17rem;
      }

      .c-cloud {
        height: 2.5rem;
      }
    }
  }

  &__farmyard {
    position: relative;
    height: 100%;
  }

  &__horse {
    position: absolute;
    bottom: 0;
    right: 50%;

    @media (min-height: $bp-device-height) {
      bottom: 5rem;
    }

    @media (min-width: $bp-xs) {
      bottom: 2rem;
    }

    @media (min-width: $bp-xl) {
      bottom: 0;
      right: 50%;
    }
  }

  &__fence {
    position: absolute;
    bottom: 0;
    right: 2rem;

    @media (min-height: $bp-device-height) {
      bottom: 5rem;
    }

    @media (min-width: $bp-xs) {
      bottom: 2rem;
    }

    @media (min-width: $bp-xl) {
      bottom: 0;
      right: unset;
    }
  }

  &__rooster {
    position: absolute;
    bottom: 13.4rem;
    right: -0.5rem;

    @media (min-height: $bp-device-height) {
      bottom: 18.4rem;
    }

    @media (min-width: $bp-xs) {
      bottom: 15.4rem;
    }

    @media (min-width: $bp-xl) {
      bottom: 17.9rem;
      left: 22.5rem;
    }
  }

  &__grass {
    position: absolute;

    &--1 {
      @media (min-width: $bp-xs) {
        bottom: 0;
        right: 6rem;
      }

      @media (min-width: $bp-xl) {
        bottom: 2rem;
        left: -5rem;
      }
    }

    &--2 {
      @media (min-width: $bp-sm) {
        bottom: -2rem;
        left: 22rem;
      }

      @media (min-width: $bp-xl) {
        bottom: -2rem;
        left: 22rem;
      }
    }

    &--3 {
      display: none;

      @media (min-width: $bp-md) {
        display: unset;
      }

      @media (min-width: $bp-xl) {
        bottom: 3rem;
        right: 3rem;
      }
    }
  }

  &__dog,
  &__cat {
    display: none;

    @media (min-width: $bp-lg) {
      display: unset;
      position: absolute;
      bottom: 0;
    }

    @media (max-height: 41rem) {
      display: none;
    }
  }

  &__dog {
    //
  }

  &__cat {
    left: 13rem;
  }

  &__ground {
    position: absolute;
    height: 30vh;
    width: 100vw;
    top: 70vh;
    left: 0;
  }
}
