.c-where {
  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 15rem;

    @media (min-width: $bp-xs) {
      padding-bottom: 5rem;
    }

    @media (min-width: $bp-sm) {
      padding-bottom: 8rem;
    }

    @media (min-width: $bp-md) {
      padding-top: space(xl);
      padding-bottom: 5rem;
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__subheading {
    @include h3;

    @media (min-width: $bp-xs) {
      width: 100%;
    }
  }

  &__list {
    margin-bottom: space(md);
  }

  &__boutique-block {
    margin-bottom: 1.25rem;

    @media (min-width: $bp-xs) {
      margin-right: 1.25rem;
    }
  }

  &__name {
    @include font-stack-primary($weight: 700);
    font-size: 1.125rem;
    margin: 0;
  }

  &__street-address,
  &__city-state,
  &__website,
  &__phone {
    margin: 0;
  }

  &__products {
    span + span {
      &::before {
        content: '\2022';
      }
    }
  }

  &__map {
    background: right / cover no-repeat url('/images/mapped-locations.jpg');
    width: 100%;
    height: 23rem;
    margin: 0 -1.75rem 3rem;

    @media (min-width: $bp-xs) {
      margin-top: 1rem;
    }

    @media (min-width: $bp-sm) {
      height: 25rem;
    }

    @media (min-width: $bp-md) {
      margin: 0;
      height: 28rem;
    }

    @media (min-width: $bp-lg) {
      height: 100%;
      margin-left: 6rem;
    }
  }

  &__ame-grouping {
    text-align: right;

    @media (min-width: $bp-xs) {
      text-align: left;
      display: flex;
      justify-content: flex-end;
    }

    @media (min-width: $bp-sm) {
      display: block;
    }
  }

  &__caption {
    @media (min-width: $bp-xs) {
      padding-top: 3rem;
      width: 42%;
    }

    @media (min-width: $bp-sm) {
      padding: 6rem 0 0 15.5rem;
      width: 100%;
      max-width: 40rem;
    }

    @media (min-width: $bp-md) {
      padding: 10rem 0 0 23rem;
    }

    @media (min-width: $bp-xl) {
      padding-left: 28rem;
      max-width: 43rem;
    }
  }

  &__alphabet-letter {
    @include alphabet-letter($c-rooster-red);
    display: inline-block;
    position: absolute;
    bottom: -4px;
    right: 15px;

    @media (min-width: $bp-xs) {
      right: 216px;
    }

    @media (min-width: $bp-sm) {
      bottom: -6px;
      right: unset;
      left: 40px;
    }

    @media (min-width: $bp-md) {
      left: 140px;
    }

    @media (min-width: $bp-xl) {
      left: 220px;
    }
  }

  &__animal {
    position: absolute;
    bottom: -26px;
    right: 140px;

    @media (min-width: $bp-xs) {
      right: 322px;
    }

    @media (min-width: $bp-sm) {
      bottom: -30px;
      right: unset;
      left: 22px;
    }

    @media (min-width: $bp-md) {
      left: 107px;
    }

    @media (min-width: $bp-xl) {
      left: 187px;
    }
  }
}
