.c-where {
  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 15rem;

    // @media (min-width: $bp-xs) {
    //   background-color: lightyellow;
    // }

    @media (min-width: $bp-sm) {
      background-color: lightcoral;
    }

    @media (min-width: $bp-md) {
      background-color: lightcyan;
    }

    @media (min-width: $bp-lg) {
      background-color: lightgreen;
    }

    @media (min-width: $bp-xl) {
      background-color: lightslategrey;
    }

    //------------- legit styles

    @media (min-width: $bp-xs) {
      padding-bottom: 6rem;
    }

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__subheading {
    @include h3;

    @media (min-width: $bp-xs) {
      width: 100%;
    }
  }

  &__list {
    margin-bottom: space(md);

    @media (min-width: $bp-xs) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__boutique-block {
    margin-bottom: 1.25rem;

    @media (min-width: $bp-xs) {
      padding-right: 1.25rem;
      width: 50%;
    }
  }

  &__name {
    @include font-stack-primary($weight: 700);
    font-size: 1.125rem;
    margin: 0;
  }

  &__street-address,
  &__city-state,
  &__website,
  &__phone {
    margin: 0;
  }

  &__map {
    margin: 0 -1.75rem 3rem;

    @media (min-width: $bp-xs) {
      margin-top: 1rem;
    }
  }

  &__ame-grouping {
    text-align: right;

    @media (min-width: $bp-xs) {
      text-align: left;
    }

    @media (min-width: $bp-sm) {
      // margin-bottom: 10rem;
    }

    @media (min-width: $bp-md) {
      // margin-bottom: 8rem;
    }

    @media (min-width: $bp-lg) {
      // margin: 4rem 0 0 2rem;
      // margin-bottom: unset;
      // justify-self: center;
    }

    @media (min-width: 70rem) { // 70rem // inbetween lg and xl
      // justify-self: end;
      // margin-left: 0;
    }

    @media (min-width: $bp-xl) {
      // margin: 0;
      // justify-self: unset;
    }
  }

  &__caption {
    @media (min-width: $bp-xs) {
      padding-left: 14rem;
      padding-top: 3rem;
    }

    @media (min-width: $bp-sm) {
      // margin: space(md) 0 0 space(xl);
    }

    @media (min-width: $bp-md) {
      // margin: 2rem 0 0 space(xxl);
    }

    @media (min-width: $bp-lg) {
      // margin: 0 0 0 0;
    }

    @media (min-width: $bp-xl) {
      // margin: -1rem 0 0 4.5rem;
    }
  }

  &__alphabet-letter {
    @include alphabet-letter($c-rooster-red);
    display: inline-block;
    position: absolute;
    bottom: -4px;
    right: 15px;

    @media (min-width: $bp-xs) {
      right: unset;
      left: 59px;
    }

    @media (min-width: $bp-sm) {
      // right: 225px;
    }

    @media (min-width: $bp-md) {
      // right: 275px;
    }

    @media (min-width: $bp-lg) {
      // right: 325px;
    }

    @media (min-width: $bp-xl) {
      // right: 225px;
    }
  }

  &__animal {
    position: absolute;
    bottom: -26px;
    right: 140px;

    @media (min-width: $bp-xs) {
      right: unset;
      left: 45px;
    }

    @media (min-width: $bp-sm) {
      // right: 0;
    }

    @media (min-width: $bp-md) {
      // right: 50px;
    }

    @media (min-width: $bp-lg) {
      // right: 100px;
    }

    @media (min-width: $bp-xl) {
      // right: 0;
    }
  }
}
