.c-where {
  &__container {
    position: relative;
    padding-top: space(xl);
    padding-bottom: 10rem;

    @media (min-width: $bp-md) {
      padding-top: space(xl);
    }

    @media (min-width: $bp-lg) {
      padding-top: 4.75rem;
    }
  }

  &__title {
    @include h2;
    margin-bottom: 1.75rem;

    @media (min-width: $bp-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__subheading {
    //
  }

  &__boutique-block {
    margin-bottom: 1.25rem;
  }

  &__name {
    @include font-stack-primary($weight: 700);
    font-size: 1.125rem;
    margin: 0;
  }

  &__street-address,
  &__city-state,
  &__website,
  &__phone {
    margin: 0;
  }

  &__street-address {
    //
  }

  &__city-state {
    //
  }

  &__phone {
    //
  }
}
