.c-dog {
  height: 10rem; // WIP

  @media (min-width: $bp-sm) {
    height: 16rem; // WIP
  }

  // These styles were pulled out of the dog SVG so that they can be scoped the dog and only the dog.
  .st2 {
    fill: #fff;
  }

  .st3 {
    fill: #594a42;
  }

  .st4 {
    fill: #c2b59b;
  }

  .st6 {
    fill: #9b8579;
  }

  .st9 {
    fill: #c2b59b;
    stroke: #9b8579;
    stroke-width: 2
  }
}
