---
name: Product Card

product: Screen Printed Posters
img: https://dummyimage.com/550x300/F8A9A9/ffffff
alt: AME screen printed frog, lion, and peacock posters
copy: |
  12" x 16" Hand screen printed posters on French 100 lb. cover colored paper. Pick from any of the animals in the AME kingdom.
---

<section class="c-products__card o-grid__full o-grid__half@md">

  {{#if ame-antelope }}
    <div class="pos-relative">
      <div class="c-products__caption c-products__caption--antelope">
        {{> patterns.components.defaults.caption letter="A" letterModifier="c-caption__letter--rooster-red" caption="is for amazing antelopes and artfull illustrations" }}
      </div>
      <div class="c-products__animal c-products__animal--antelope">
        {{> patterns.components.animals.antelope }}
      </div>
      <div class="c-products__alphabet-letter c-products__alphabet-letter--antelope">A</div>
    </div>
  {{/if}}

  <img src="{{ img }}" alt="{{ alt }}" class="c-products__img">
  <div class="c-products__details">
    <h3 class="c-products__name">{{ product }}</h3>
    <div class="c-products__copy">{{ copy }}</div>
    <a href="#" class="c-btn c-btn--primary c-products__btn">where to buy</a>
  </div>
</section>