---
name: Product Grid
---

<section id="products" class="c-products">
  <div class="c-products__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-products__title o-grid__full">Products</h2>
    {{#with (data 'products')}}
      {{#each items }}
        {{> patterns.components.products.card }}
      {{/each}}
    {{/with}}
  </div>
</section>