---
name: Product Grid
---

<section id="products" class="c-products">
  <div class="c-products__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-products__title o-grid__full">Products</h2>
    {{#with (data 'products')}}
      {{#each items }}
        {{> patterns.components.products.card }}
      {{/each}}
    {{/with}}
    <div class="c-products__ame-grouping o-grid__full o-grid__full o-grid__half@lg">
      <div class="c-products__caption c-products--bear">
        {{> patterns.components.defaults.caption letter="B" letterModifier="c-caption__letter--froggy-yellowgreen" caption="is for blissful bears and buzzing bees" }}
      </div>
      <div class="c-products__animal c-products__animal--bear">
        {{> patterns.components.animals.bear }}
      </div>
      <div class="c-products__alphabet-letter c-products__alphabet-letter--bear">B</div>
    </div>
  </div>
</section>