// SourceSans Variable
@font-face {
  font-family: 'SourceSansVariable';
  src: url('/fonts/SourceSansVariable-Roman.woff2') format('woff2-variations');
  font-weight: 1 999;
}

// SourceSans Regular fallback
@font-face {
  font-family: 'SourceSans';
  src: url('/fonts/SourceSansVariable-Roman.woff2') format('woff2'), url('/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: 400;
}

// SourceSans Bold fallback
@font-face {
  font-family: 'SourceSans';
  src: url('/fonts/SourceSansVariable-Roman.woff2') format('woff2'), url('/fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: 700;
}

// Personalitype Variable
@font-face {
  font-family: 'PersonalitypeVariable';
  src: url('/fonts/personalitype-bold.woff2') format('woff2-variations');
  font-weight: 1 999;
}

// Personalitype fallback
@font-face {
  font-family: 'Personalitype';
  src: url('/fonts/personalitype-bold.woff2') format('woff2'), url('/fonts/personalitype-bold.woff') format('woff');
  font-weight: 700;
}
