---
name: AME Footer
order: 1
---
<footer class="c-footer">
  <div class="o-width-limiter">
    <div class="c-footer__legal o-grid g-items-center u-padding-top-lg u-padding-bottom-lg">
      <div class="o-grid__full o-grid__third@md">
        <p class="c-footer__copy">&copy;2020 a modern eden</p>
        <p class="c-footer__copy"><a class="c-footer__link u-padding-right-xs" href="#">Privacy</a> | <a class="c-footer__link u-padding-left-xs" href="#">Terms</a></p>
      </div>
      <div class="o-grid__full o-grid__third@md c-footer__logo">
        <svg class="c-icon c-icon--footer-tree" focusable="false" aria-hidden="true">
          <use xlink:href="/svg/symbol/svg/sprite.symbol.svg#icon-footer-tree"></use>
        </svg>
      </div>
      <div class="o-grid__full o-grid__third@md c-footer__contact">
        <a class="c-footer__icon-link c-footer__icon-link--facebook" href="#">
          <svg class="c-icon c-icon--facebook" focusable="false" aria-hidden="true">
            <use xlink:href="/svg/symbol/svg/sprite.symbol.svg#icon-facebook"></use>
          </svg>
        </a>
        <a class="c-footer__icon-link c-footer__icon-link--twitter" href="#">
          <svg class="c-icon c-icon--twitter" focusable="false" aria-hidden="true">
            <use xlink:href="/svg/symbol/svg/sprite.symbol.svg#icon-twitter"></use>
          </svg>
        </a>
        <a class="c-footer__icon-link c-footer__icon-link--instagram" href="#">
          <svg class="c-icon c-icon--instagram" focusable="false" aria-hidden="true">
            <use xlink:href="/svg/symbol/svg/sprite.symbol.svg#icon-instagram"></use>
          </svg>
        </a>
        <p class="c-footer__copy">handcrafted with <span class="c-footer__love">&#x2764;</span> in</p>
        <p class="c-footer__copy">Dayton, Ohio</p>
        <p class="c-footer__copy"><a class="c-footer__link" href="tel:1-937-512-1234">(937) 512-1234</a></p>
      </div>
    </div>
  </div>
</footer>