---
name: As Seen In
---

<section class="c-seen">
  <div class="c-seen__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-seen__title o-grid__full">As Seen In</h2>
    <div class="c-seen__in o-grid__full">
      <div class="c-seen__logo">
        <img src="/images/scholastic-logo.png" alt="Scholastic Books">
      </div>
      <div class="c-seen__logo">
        <img src="/images/nytimes.png" alt="The New York Times">
      </div>
      <div class="c-seen__logo">
        <img src="/images/how-magazine.png" alt="How Magazine">
      </div>
  </div>
</section>