---
name: As Seen In
---

<section class="c-seen">
  <div class="c-seen__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-seen__title">As Seen In</h2>
    <img src="/images/" alt="Scholastic Books">
    <img src="/images/" alt="The New York Times">
    <img src="/images/" alt="How Magazine">
  </div>
</section>