---
title: Typography
layout: drizzle
---

<h1 class="drizzle-heading-1">{{title}}</h1>

<h2 class="drizzle-doc-heading-2 u-margin-bottom-md">Personalitype</h2>
<p><a href="https://creativemarket.com/rolandhuse/3012132-Personalitype-Variable-Script-Font">Personalitype</a> is a variable upright script font by Roland Huse Design.</p>
<div class="drizzle-pattern u-margin-top-lg">
  <p class="drizzle-personalitype" style="font-size: 3.5rem; line-height: 2;">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
</div>

<h2 class="drizzle-doc-heading-2 u-margin-bottom-md">Source Sans Pro</h2>
<p><a href="https://github.com/adobe-fonts/source-sans-pro">Source® Sans Pro</a>, Adobe's first open source typeface family, was designed by Paul D. Hunt. It is a sans serif typeface intended to work well in user interfaces.</p>
<p class="drizzle-doc-heading-3">Bold</p>
<div class="drizzle-pattern u-margin-top-lg">
  <p style="font-size: 4rem; font-weight: 700; font-variation-settings: 'wght' 700; line-height: 1.5;">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
</div>
<p class="drizzle-doc-heading-3">Regular</p>
<div class="drizzle-pattern u-margin-top-lg" style="font-size: 4rem; line-height: 1.5;">
  <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
</div>
