---
notes: |
  Every alphabet letter and coordinating illustrated animal has a figcaption which describes its playful attributes.
links:
  MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption

letter: A
letterModifier: c-caption__letter--rooster-red
caption: is for a delightful caption
---

<div class="c-caption">
  <span class="c-caption__letter {{ letterModifier }}">{{ letter }}</span>
  &nbsp;{{ caption }}
</div>