---
name: Sell AME
---

<section id="sell" class="c-sell-ame">
  <div class="c-sell-ame__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-sell-ame__title o-grid__full">Interesting in Selling AME?</h2>
    <div class="c-sell-ame__ame-grouping o-grid__full o-grid__half@md">
      <p class="c-sell-ame__copy">Own a boutique or store and looking to sell products from A Modern Eden? Let us know and we will provide you with everything you need to know about becoming a retail partner.
      </p>
      <div class="c-sell-ame__caption">
        {{> patterns.components.defaults.caption letter="D" letterModifier="c-caption__letter--monkey-brown" caption="is for dancing dolphins and delightful designs" }}
      </div>
      <div class="c-sell-ame__alphabet-letter">D</div>
      <div class="c-sell-ame__animal">
        {{> patterns.components.animals.dolphin }}
      </div>
    </div>

    <div class="c-sell-ame__form-fields o-grid__full o-grid__half@md">
      <div class="c-sell-ame__field">
        <label for="boutiqueName" class="c-form__label">Boutique / Store Name</label>
        <input id="boutiqueName" class="c-form__text-input" type="text" name="text-input" />
      </div>
      <div class="c-sell-ame__field">
        <label for="contactName" class="c-form__label">Contact Name</label>
        <input id="contactName" class="c-form__text-input" type="text" name="text-input" />
      </div>
      <div class="c-sell-ame__field">
        <label for="boutiqueEmail" class="c-form__label">Email</label>
        <input id="boutiqueEmail" class="c-form__text-input" type="text" name="text-input" />
      </div>
      <a href="#" class="c-btn c-btn--primary c-sell-ame__btn">Submit</a>
    </div>

  </div>
</section>