---
name: Hero
---

<section class="c-hero">
  {{#with (data 'global')}}
    <div class="c-hero__container o-grid o-width-limiter o-width-limiter--sm u-padding-top-lg u-padding-top-xl@md u-padding-bottom-lg u-padding-bottom-xl@md">

      <div class="c-hero__art o-grid__full o-grid__half@md">
        <div class="c-hero__cloud c-hero__cloud--1">
          {{> patterns.components.hero.cloud }}
        </div>

        <div class="c-hero__cloud c-hero__cloud--2">
          {{> patterns.components.hero.cloud }}
        </div>

        <div class="c-hero__cloud c-hero__cloud--3">
          {{> patterns.components.hero.cloud }}
        </div>

        <div class="c-hero__farmyard">
          <div class="c-hero__horse">
            {{> patterns.components.animals.horse }}
          </div>
          <div class="c-hero__fence">
            {{> patterns.components.hero.fence }}
          </div>
          <div class="c-hero__rooster">
            {{> patterns.components.animals.rooster }}
          </div>
        </div>

        <div class="c-hero__grass c-hero__grass--1">
          {{> patterns.components.hero.grass }}
        </div>

        <div class="c-hero__grass c-hero__grass--2">
          {{> patterns.components.hero.grass }}
        </div>
      </div>

      <div class="c-hero__heading o-grid__full o-grid__half@md">
        <div class="c-hero__copy">
          <h1 class="c-hero__title">{{ hero-heading }}</h1>
          <h2 class="c-hero__tagline">{{ tagline }}</h2>
        </div>

        <div class="c-hero__dog">
          {{> patterns.components.animals.dog }}
        </div>

        <div class="c-hero__cat">
          {{> patterns.components.animals.cat }}
        </div>

        <div class="c-hero__grass c-hero__grass--3">
          {{> patterns.components.hero.grass }}
        </div>
      </div>

    </div>
  {{/with }}
</section>
{{!-- <div class="c-hero__ground"></div> --}}