---
name: Text Input
order: 1

label: Label
id: textInput
---

<label for="{{ id }}" class="c-form__label">
  {{ label }}
</label>
<input id="{{ id }}" class="c-form__text-input" type="text" name="text-input" />