---
name: Join our Mailing List
---

<section class="c-mailing-list">
  <div class="c-mailing-list__container o-grid o-width-limiter o-width-limiter--sm">
    <div class="c-mailing-list__join-block o-grid__full o-grid__7-12@md">
      <h2 class="c-mailing-list__title">Join our Mailing List</h2>
      <p class="c-mailing-list__copy">We love making new friends! Receive the latest information on new product launches and retail locations.</p>
      <div class="c-mailing-list__form-fields">
        <div class="c-mailing-list__field">
          <label for="mailingListName" class="c-form__label">Name</label>
          <input id="mailingListName" class="c-form__text-input" type="text" name="text-input" />
        </div>
        <div class="c-mailing-list__field">
          <label for="mailingListEmail" class="c-form__label">Email</label>
          <input id="mailingListEmail" class="c-form__text-input" type="text" name="text-input" />
        </div>
      </div>
      <a href="#" class="c-btn c-btn--primary c-mailing-list__btn">Submit</a>
    </div>

    <div class="c-mailing-list__ame-grouping o-grid__full o-grid__5-12@md">
      <div class="c-mailing-list__caption">
        {{> patterns.components.defaults.caption letter="G" letterModifier="c-caption__letter--ocean" caption="is for graceful griaffes and genuine goods" }}
      </div>
      <div class="c-mailing-list__alphabet-letter">G</div>
      <div class="c-mailing-list__animal">
        {{> patterns.components.animals.giraffe }}
      </div>
    </div>
  </div>
</section>