---
name: Apps
---

<section id="apps" class="c-apps">
  <div class="c-apps__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-apps__title o-grid__full">Apps</h2>

    <div class="c-apps__app-wrap o-grid__full o-grid__6-12@lg o-grid__5-12@xl">
      <img class="c-apps__image c-apps__image--iphone" srcset="/images/iPhone.png, /images/iPhone_2X.png 2x" src="/images/iPhone_X.png" alt="A Modern Eden Speaky Piggy iPhone App">
      <div>
        <div class="c-apps__speak-piggy-copy-block">
          <p class="c-apps__copy">Speak, Piggy! is an educational app that gives the animals in the A Modern Eden universe a voice––like oinks and moos and quacks.</p>
          <a href="#whereToBuy" class="c-btn c-btn--primary">buy now</a>
        </div>
        <div>
          <p class="c-apps__copy">C is for Cow will playfully teach your little one recognition and phonetics for each letter in the alphabet.</p>
          <a href="#whereToBuy" class="c-btn c-btn--primary">buy now</a>
        </div>
      </div>
    </div>

    <div class="c-apps__app-wrap o-grid__full o-grid__6-12@lg o-grid__7-12@xl">
      <img class="c-apps__image c-apps__image--ipad" srcset="/images/iPad.png, /images/iPad_2X.png 2x" src="/images/iPad _2X.png" alt="A Modern Eden Two by Two iPad App">
      <div>
        <p class="c-apps__copy">Two By Two is an iPad matching game with 40 of the beloved AME animals. Along with encouraging a prolonged attention span, Two by Two will boost your little ones’ short-term memory.</p>
        <a href="#whereToBuy" class="c-btn c-btn--primary">buy now</a>
      </div>
    </div>

  </div>
</section>