---
title: AME Home
order: 10
layout: page

heading: Mid-Century Modern Animal Illustrations
---

<div style="background-color: #C7EAFB">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h1>{{ heading }}</h1>
    <p>This is a placeholder for the hero.</p>
  </div>
</div>

<div style="background-color: #ADD136">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
  </div>
</div>

<div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
  <h2>Products</h2>
  <p>The products block will go here.</p>
</div>

<div style="background-color: #F5F5F5">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h2>Apps</h2>
    <p>The apps block will go here.</p>
  </div>
</div>

<div style="background-color: #F8A9A9">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h2>About</h2>
    <p>The about block will go here.</p>
  </div>
</div>

<div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
  <h2>Interested in Selling AME?</h2>
</div>

<div style="background-color: #B9E2E4">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h3>Calendar of Events</h3>
  </div>
</div>

<div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
  <h2>Where to Buy</h2>
</div>

<div style="background-color: #E3E65B">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h2>As Seen In</h2>
  </div>
</div>

<div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
  <h2>Join our Mailing List</h2>
</div>