//
// FONTS
//

$font-stack-primary: "SourceSans", Helvetica, Arial, sans-serif;
$font-stack-primary-variable: "SourceSansVariable", sans-serif;
$font-stack-decorative: "Personalitype", cursive;
$font-stack-decorative-variable: "PersonalitypeVariable", cursive;

@mixin font-stack-primary($weight: 400) {
  font-family: $font-stack-primary;
  font-weight: $weight;

  // For browsers that support variable fonts
  @supports (font-variation-settings: normal) {
    font-family: $font-stack-primary-variable;
    font-variation-settings: "wght" $weight;
  }
}

@mixin font-stack-decorative {
  font-family: $font-stack-decorative;

  // For browsers that support variable fonts
  @supports (font-variation-settings: normal) {
    font-family: $font-stack-decorative-variable;
    font-variation-settings: "wght" 700;
  }
}

//
// COLORS
//

$c-base: #625F5D;
$c-white: #FFFFFF;
$c-soft-grey: #EFEFEF;
$c-charcoal: #4A4A4A;
$c-ocean: #B9E2E4;
$c-rooster-red: #D45745;
$c-dolphin-blue: #3F81A3;
$c-froggy-yellowgreen: #E3E65B;

//
// STYLES
//

.drizzle-Item-control {
  color: $c-rooster-red;

  &:hover {
    text-decoration: underline;
  }
}

.drizzle-variant-button {
  border: none;
  margin: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.

  display: block;
  background: #ededed;
  color: #4c4c4c;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
}

.drizzle-nav {
  background: $c-base;
  color: $c-white;
  -webkit-font-smoothing: antialiased;

  &__header {
    padding: 0.7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 960px) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__content {
    padding: 0.7rem 0 1.4rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-gap: 1.3rem;
    justify-content: space-around;

    @media (min-width: 960px) {
      display: block !important;
      padding-left: 1.5rem;
    }
  }

  &__title {
    margin: 0;

    @include font-stack-primary(700);
    font-size: 1.625rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: inherit;
      border: none;
    }

    @media (min-width: 960px) {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    margin-top: 0.25rem;
    width: 2.5rem;

    @media (min-width: 960px) {
      margin-top: 1.25rem;
      margin-bottom: -0.5rem;
    }
  }

  &__toggle {
    border: none;
    margin: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none; // Just in case we missed anything.

    @include font-stack-primary();
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgba(black, 0.4);
    padding: 0.5rem 1rem;

    &[aria-expanded="true"] {
      background-color: rgba(black, 0.8);
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__collection-title {
    margin: 0.2rem 0;
    padding: 0 0.7rem;

    @include font-stack-primary(650);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__collection-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: 960px) {
      margin-bottom: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    @include font-stack-primary();
    font-size: 1rem;

    color: $c-white !important;

    display: block;

    padding: 0.4rem 0.7rem;

    transition: all 0.1s ease-out;

    &:focus,
    &:hover {
      background-color: mix($c-base, $c-white, 90%) !important;
    }
  }
}


.drizzle-heading-1 {
  color: $c-charcoal;
  @include font-stack-decorative;
  font-size: 2.75rem;
  line-height: 1.5;
  margin: 0.5em 0 1em;

  -webkit-font-smooothing: antialiased;
}

.drizzle-heading-2 {
  color: $c-charcoal;
  @include font-stack-decorative;
  font-size: 1.2em;

  -webkit-font-smooothing: antialiased;
}

.drizzle-collection-heading {
  line-height: 1.5;
  color: $c-charcoal;

  &__sub {
    @include font-stack-primary();
    font-size: 16px;
    display: block;
  }

  &__text {
    @include font-stack-decorative;
    font-size: 36px;

    @media (min-width: 30em) {
      font-size: 2.75rem;
    }
  }
}

.drizzle-p {
  font-size: 18px;
  @include font-stack-primary();
  color: $c-base;
}

.drizzle-Layout-main {
  background: $c-white;
}

.drizzle-white-bg {
  background: white;
}


.drizzle-pattern {
  background: lighten($c-soft-grey, 2%);

  padding: 12px;

  @media (min-width: 30em) {
    padding: 48px;
  }

  margin: 5rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 22px;
    @include font-stack-primary(700);
    font-weight: 700;
    line-height: 1;

    color: $c-base;

    margin: 0;

    @media (min-width: 30em) {
      font-size: 32px;
    }
  }

  &__info {
    font-size: 16px;
    @include font-stack-primary();
    color: $c-base;

    margin-top: 1em;
  }

  &__variant-button {
    flex-shrink: 0;

    border: none;

    font-size: 14px;
    @include font-stack-primary(700);
    font-weight: 700;

    background: $c-base;
    color: $c-white;
    padding: 0.4rem 0.5rem 0.4rem 0.6rem;
  }

  &__variant-box {
    background: $c-base;
    color: $c-white;
    @include font-stack-primary();

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 13rem));
    grid-gap: 1rem;

    padding: 1rem;

    code {
      @include font-stack-primary(); // May need to update
    }

    input {
      margin-right: 0.3rem;
    }
  }

  &__variant-group {
    border: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  &__variant-legend {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__demo-box-title {
    @include font-stack-primary();
    font-size: 12px;
    color: rgba($c-base, 0.7);
    margin: 0;
  }

  &__demo-box {
    border: 3px solid $c-white;
    background: white;

    padding: 24px;

    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }

    &--code {
      // This override's prism's default styles
      background: white !important;
    }

    // change background color of the demo box for alternate styles
    &--alternate {
      background-color: $c-ocean;
      border-color: $c-ocean;
    }
  }

  &__source {
    // This override's prism's default styles
    background: white !important;
    @include font-stack-primary(); // May need to update
    font-size: 14px;

    .token {
      color: $c-charcoal;

      &.attr-value {
        color: $c-rooster-red;
      }

      &.punctuation {
        color: $c-dolphin-blue;
      }
    }
  }

  &__demo-box-button {
    @include font-stack-primary();
  }
}

.is-active {
  background-color: mix($c-base, $c-white, 90%) !important;
}

.drizzle-example-block {
  height: 100px;
  background: $c-rooster-red;
  box-shadow: inset 0 0 0 2px white;
}

.drizzle-color-swatch {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: auto;
}

.drizzle-personalitype {
  @include font-stack-decorative();
  margin: 0;
}

.drizzle-doc-heading-2 {
  font-size: 22px;
  @include font-stack-primary(700);
  font-weight: 700;
  line-height: 1;

  color: $c-base;

  margin: 0;

  @media (min-width: 30em) {
    font-size: 32px;
  }
}

.drizzle-doc-heading-3 {
  font-size: 16px;
  @include font-stack-primary(700);
  font-weight: 700;
  line-height: 1;

  color: $c-base;

  margin: 0;

  @media (min-width: 30em) {
    font-size: 24px;
  }
}
