<section id="about" class="c-about">
  <div class="o-width-limiter o-width-limiter--sm u-padding-top-xl u-padding-bottom-xl">
    <h2 class="c-about__title">About</h2>
    <p class="c-about__copy">Our journey began in 2011 when illustrator Ryan Clark drew an owl in the iconic style of mid-century modern illustrator Charlie Harper for his soon-to-be son’s new nursery. Then he kept drawing &#8212; and drawing. Today, a Modern Eden is an artful line of toys and decor centered around 40+ unique animal illustrations.</p>
    <p class="c-about__copy">Discover a world where education mixes with play. Where amazing antelopes, buzzing bumble bees, clever cheetahs, and delightful dolphins come together to create a learning experience artistically adorned in classic comtemporary decor.</p>
  </div>
  <figure>
    <img src=""
         alt="illustrated cow">
    {{> patterns.components.defaults.figcaption letter="C" letterModifier="c-figcaption__letter--piggy-pink" caption="is for clever cows and contemporary decor" }}
  </figure>
</section>